@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #eb7495;
}
header .logo
{
	position: relative;
	max-width: 80px;
}
header ul
{
	position: relative;
	display: flex;
}
header ul li
{
	list-style: none;
}
header ul li a
{
	display: inline-block;
	color: #fff;
	font-weight: 400;
	margin-left: 40px;
	text-decoration: none;
}

.container
{
	width: 100%;
	margin-top: 10%;
	font-family: sans-serif;
	letter-spacing: 1px;
}
.container h2
{
	background: #eb7495;
	color: #fff;
	width: 200px;
	font-size: 24px;
	padding: 5px;
	height: 40px;
}
.container h2::after
{
	content: '';
	border-top: 40px solid #eb7495;
	border-right: 40px solid transparent;
	position: relative;	
	left: 55px;
	top: 35px;
}

.row
{
	margin-top: 30px;
}

img
{
	width: 100%;
}

.product-bottom i
{
	color: #28a745;	
	font-size: 10px;
}
.product-bottom h3
{
	font-size: 20px;
	font-weight: bold;
}
.product-bottom h5
{
	font-size: 15px;
	padding-bottom: 10px;
}

.overlay
{
	display: block;
	opacity: 0;
	position: absolute;
	top: 10%;
	margin-left: 0;
	width: 70px;
}
.product-top:hover .overlay
{
	opacity: 1;
	margin-left: 5%;
	transition: 0.5s;
}
.overlay i
{
	cursor: pointer;
	background-color: #fff;
	color: #000;
	height: 35px;
	width: 35px;
	font-size: 20px;
	padding: 7px;
	margin: 5%;
	margin-bottom: 5%;
	border-radius: 10px;
}
.overlay .btn-secondary
{
	background: transparent !important;
	border: none !important;
	box-shadow: none i !important;
}

.container-fluid {
     overflow: hidden;
     margin-top: 80px;
     background: #eb7495;
     color: #fff !important;
     margin-bottom: 0;
     padding-bottom: 0
 }

 small {
     font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
 }

 .bold-text {
     color: #fff !important
 }

 .mt-55 {
     margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
 }

 .footer-khusus h3 {
     font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
 }

 .social {
     font-size: 21px !important
 }

 .rights {
     font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
 }